body {
    opacity: 0;
    user-select: none;
}

.app>div {
    display: none;
}

#next-step {
    float: right;
}

#reset-cat {
    float: right;
}

#registering-step-1 .modern-input {
    margin-top: 26px;
}

#registering-step-2 {
    display: none;
}

.table .material-icons-round {
    vertical-align: sub;
}

#settings [data-tooltip]:before {
    min-width: 200px;
}

#settings-advanced {
    display: none;
}