.menu {
    width: 215px;
}

.app>div {
    display: none;
}

.editable-value {
    width: 145px;
}

#next-step {
    float: right;
}

#reset-cat {
    float: right;
}

#registering-step-1 .modern-input {
    margin-top: 26px;
}

#registering-step-2 {
    display: none;
}

body {
    user-select: none;
}