body {
    display: none;
}

#main-container {
    max-width: 370px;
    margin-top: calc(40vh - 206px);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid var(--border-color);
}

@media only screen and (max-width: 420px) {
    #main-container {
        margin-top: 22px;
        border: 0px;
        padding: 10px;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 45px;
    color: var(--main-color);
}

#password-side {
    display: none;
}

#main-container button {
    margin-top: 50px;
    display: inline-block;
    margin: 50px 0px 0px 0px;
}

#next,
#login {
    float: right;
}

.app {
    padding: 0px;
}