body {
    display: none;
}

@media only screen and (max-width: 380px) {
    body {
        display: none !important;
    }
}

#main-container {
    max-width: 370px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid var(--border-color);
}

@media only screen and (max-width: 420px) {
    #main-container {
        margin-top: 22px;
        border: 0px;
        padding: 10px;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 45px;
    color: var(--main-color);
}

#login {
    display: none;
}

#password-side {
    display: none;
}

#main-container button {
    margin-top: 50px;
}

#next,
#finish {
    float: right;
}